@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.Contador h1 {
    color: rebeccapurple;
    font-family: 'Libre Baskerville', serif;
    font-size: 75px;
    margin: 0;
    padding: 0;
}