.MeusCursos {
    display: flex;
    flex-direction: row-reverse;
    padding: 5px;
    margin-top: 15px;
    column-gap: 35px;
  }

  @media (max-width: 900px) {
    .MeusCursos {
      flex-direction: column-reverse;
      row-gap: 15px;
    }
  }