.Sidebar .Container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #FAFAFA;
    padding: 30px;
}

.Sidebar a {
    color: inherit;
    text-decoration: none;
    padding: 5px;
}

.Sidebar img {
    border-radius: 90px;
    margin: 15px;
}

.Sidebar h1 {
    font-weight: bold;
    font-size: 22px;
    margin: 5px;
}

.Sidebar h2 {
    font-weight: normal;
    font-size: 15px;
}

.Sidebar .Container .ProfileInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    margin-top: 20px;
    align-items: center;
    color: #727272;
}

.Sidebar .Container .Links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px;
    margin-top: 5px;
    align-items: flex-start;
    color: #727272;
    font-size: 22px;
}
