@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  color: #333;
  font-family: 'Nunito', sans-serif;
}

.Container {
  display: grid;
  grid-template-columns: 375px 1fr;
  height: 100vh;
}

.Container .Content {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 100px;
}

.Container .Content h1 {
  font-size: 26px;
  font-weight: bold;
  color: #555555;
}

.Container .Content .Resumo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 60px;
}

.Container .Content .ProximasAtividades {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin-top: 15px;
}

.Container .Content .MeusCursos {
  display: flex;
  flex-direction: row-reverse;
  padding: 5px;
  margin-top: 15px;
}