@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  color: #333;
  font-family: 'Nunito', sans-serif;
}

.Container {
  display: grid;
  grid-template-columns: 375px 1fr;
  height: 100vh;
}

.Container .Content {
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
