.SidebarLinks ul {
    list-style-type: none;
}

.SidebarLinks li {
    padding-bottom: 25px;
}

.SidebarLinks h1 {
    color: #6a6a6a;
    font-weight: bold;
    font-size: 18px;
    margin: 5px;
}

.SidebarLinks h2 {
    color: #6a6a6a;
    font-weight: normal;
    font-size: 18px;
    margin: 5px;
}