.SidebarLinks ul {
    list-style-type: none;
}

.SidebarLinks li {
    padding: 5px;
    padding-bottom: 25px;
}

.SidebarLinks .sidebar-navlink {
    color: #6a6a6a;
    font-weight: normal;
    font-size: 18px;
    margin: 5px;
}

.SidebarLinks .sidebar-navlink-active {
    color: #6a6a6a;
    font-weight: bold;
    font-size: 18px;
    margin: 5px;
    pointer-events: none;
}

@media (max-width: 650px) {
    .SidebarLinks .sidebar-navlink {
        font-size: 15px;
    }
    .SidebarLinks .sidebar-navlink-active {
        font-size: 15px;
    }
}